# Python virtual environments
.venv
venv

# Bytecode files
__pycache__
*.pyc

# IDE files (e.g., VS Code)
.vscode/

# Streamlit/LlamaIndex caches
.streamlit/
.cache/

# CRITICAL: Ignore API Key files
api_key.env
*.key

/documents/*
!/documents/.gitkeep
